---
import Layout from "../layouts/Layout.astro"

import MyComponent from "../components/vue/MyComponent.vue"
---

<Layout title="Acá te contamos quienes somos" favicon="/email.svg">
  Esta es la página de quienes somos

  <MyComponent client:load />

  <div id="calendar"></div>

</Layout>

<script>
  import {calendar} from "datedreamer";

  window.onload = () => {
  new calendar({
    element: document.querySelector("#calendar")
  });
  }
</script>