---
const { isRed = false } = Astro.props;
---

<a href="#"
  class="h-8 transition-colors items-center space-x-1 hover:bg-blue-600 rounded px-2 inline-flex bg-blue-500 text-white"
  class:list={{"bg-red-500 hover:bg-red-600": isRed}}
  >
  <slot name="start-icon" />
  <slot name="text">
    <span>
      Soy un botón
    </span>
  </slot>
  <slot name="end-icon" />
</a>